/* body, button, input, button {
	font-size: 90% !important;
} */
/* .fs-7 {
	font-size: 80% !important;
} */

p, a.alt, a.btn, li, button.btn, td, th, .form-control, label, .form-select, .dt-info, .dt-paging a, .input-group-text {
    font-size: 0.875em !important;
}

.custom-hover-zoom {
	transition: 0.25s;
}

.custom-hover-zoom:hover {
	transition: 0.25s;
	transform: scale(1.025);
}

.form-signin {
	max-width: 330px;
	padding: 1rem;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.custom-card {
	transition: 0.25s;
}

.custom-card:hover {
	transition: 0.25s;
	transform: scale(1.025);
	background-color: #0d6efd;
}

.d-grid {
	display: grid;
}

.grid-2 {
	grid-template-columns: 1fr 1fr;
}

.grid-4 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-gap-12 {
	gap: 12px;
}

.zindex-1 {
	z-index: 1 !important;
}

.cursor-pointer {
	cursor: pointer;
}

.custom-button {
	border: none !important;
	background-color: rgba(0, 0, 0, 0)
}

/* .select2-container {
	font-size: 80% !important;
}

.select2-container--default .select2-selection--single {
	border: 1px solid #dee2e6 !important;
	border-radius: 0rem !important;
} */

/* .select2-container--default .select2-selection--single .custom-rounded {
	border-radius: 0.375rem !important;
} */

.alert {
	position: static !important;
}

.alert-dismissible {
	padding-right: 1rem !important;
}

.btn-close {
	position: static !important;
	padding: 0 !important;
	padding-right: 1rem !important;
	z-index: 1 !important;
}

.page-link {
	position: static !important;
}
/* 
.select2-container {
	position: relative !important;
} */

.select2-container--bootstrap-5 .select2-selection {
	font-size: 80% !important;
	width: 100% !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
	font-size: 80% !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
	font-size: 80% !important;
}

header {
	position: static !important;
	z-index: 999 !important;
}

.breadcrumb-custom {
	position: static !important;
	z-index: 1 !important;
}

.circle {
	display: inline-block;
	background-color: #20c997;
	border-radius: 50%;
}
  
.circle-inner {
	color: white;
	display: table-cell;
	vertical-align: middle; 
	text-align: center;
	text-decoration: none;
	height: 36px;
	width: 36px;  
	font-size: 14px;
}
  
.circle-inner-lg {
	color: white;
	display: table-cell;
	vertical-align: middle; 
	text-align: center;
	text-decoration: none;
	height: 72px;
	width: 72px;  
	font-size: 36px;
}