<%- include('./partials/header') %>
<div class="border-bottom pb-2 mt-3">
    <div class="container">
        <h1>HTTP Error: 404</h1>
    </div>
</div>
<div class="container flex-grow-1 py-3">
    <p>Page Not Found. Click <a href="/">here</a> to return to the dashboard.</p>
</div>
<%- include('./partials/footer') %>