<%- include('./partials/header') %>
<div class="container-fluid border-bottom py-2 bg-body">
    <h2 class="fw-light px-3 pt-1 container-fluid">HTTP Error: 404</h2>
</div>
<div class="container-fluid flex-grow-1 py-2">
    <div class="container-fluid flex-grow-1 px-3">
        <p>We're unable to find the page you're looking for. Click <a href="/">here</a> to return to the dashboard.</p>
    </div>
</div>
<%- include('./partials/footer') %>