<%- include('partials/header') %>
<%- include('partials/breadcrumb') %>
<div class="flex-grow-1 bg-body">
    <div class="container-fluid border-bottom py-2 bg-body">
        <h1 class="display-6 px-3 pt-1 container-fluid">
            Welcome, <%= `${user.fname}` %>
        </h1>
    </div>
    <div class="container-fluid px-3">
        <div class="container-fluid px-2 py-3">
            
        </div>
    </div>
</div>
<%- include('partials/footer') %>