    <div class="px-3 py-2 border-top">
        <div class="container text-secondary text-center">
            <small>Copyright © 2024 Societas Music Group Corporation | <a href="/helpdesk" class="text-secondary">Help Desk</a></small>
        </div>
    </div>
</div>
</body>
</html>