    <div class="px-3 py-2 border-top">
        <div class="container text-secondary">
            <% var date = Date() %>
            <p class="lh-0 m-0 p-0 cfs-7"><%= date %>&nbsp;|&nbsp;<a href="mailto:support@societasmusic.com" class="text-secondary">Contact Support</a>&nbsp;|&nbsp;<a href="https://www.societasmusic.com/privacy-policy" target="_blank" class="text-secondary">Privacy Policy</a>&nbsp;|&nbsp;<a href="https://www.societasmusic.com/terms-of-service" target="_blank" class="text-secondary">Terms of Service</a></p>
            <p class="lh-0 m-0 p-0 cfs-7">Powered by <a href="https://www.societasmusic.com" target="_blank" class="text-secondary">SMG</a>. Copyright © 2024 Societas Music Group Corporation - www.societasmusic.com - Release: <%= `${pjson.version}` %>. Built on <%= `${pjson.versiondate}` %> with NodeJS.</p>
        </div>
    </div>
</div>
</body>
</html>