<%- include('../partials/header') %>
<div class="flex-grow-1 bg-body-tertiary">
    <%- include('../partials/breadcrumb') %>
    <div class="px-3">
        <div class="container py-3">
            <div class="text-center mb-3 mt-3">
                <h3 class="fw-light"><%= `${user.fname} ${user.lname}` %></h3>
            </div>
            <div class="d-flex gap-3">
                <div class="border mb-3 shadow-sm col px-0">
                    <div class="bg-body border-bottom px-3 py-2">
                        <h4 class="fw-normal mb-0">Personal Details</h4>
                    </div>
                    <div class="py-3 bg-body">
                        <div class="px-3">
                            <p class="fs-7">View and edit personal information, identifiers, and contact information associated with your system user profile.</p>
                            <a href="/uss/personal" class="btn btn-primary fs-7">Manage</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>